// Google Fonts
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Typography
$font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-size: 14px;
$font-icon: 'Material Icons';

// Colors
$color-primary: #455a64 !default;
$color-secondary: #78909c !default;
$color-font: #455a64 !default;

$color-black: #3e3e3e;
$color-red: #ee5342;
$color-green: #32b67a;
$color-orange: #ff5722;
$color-cool-grey: #b0bec5;

// Responsive
$media-xs: 576px;
$media-sm: 768px;
$media-md: 992px;
$media-lg: 1281px;
