@import 'susy/sass/susy';
@import 'styles/helpers/variables';

.page-title {
  position: relative;

  // TODO: Update this --v
  height: 45px;
  min-height: 45px;

  margin: 0;
  padding: 22px 60px;
  border-bottom: 1px solid rgba(#000, 0.06);

  @media (max-width: $media-md) {
    padding-right: 30px;
    padding-left: 30px;
  }

  .has-page-header & {
    border-bottom-color: rgba(#fff, 0.2);
  }

  h1 {
    margin: 0 0 2px 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;

    .has-page-header & {
      color: #fff;
      text-shadow: 1px 1px rgba(#000, 0.3);
    }
  }

  ul {
    margin: 0 0 6px 0;
    padding: 0;
    font-size: 13px;
    list-style: none;

    @include susy-clearfix();
  }

  li {
    float: left;
    opacity: 0.6;

    &:after {
      display: inline-block;
      margin: 0 10px;
      opacity: 0.5;
      content: '/';
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    a {
      .has-page-header & {
        color: #fff;
        text-shadow: 1px 1px rgba(#000, 0.3);
      }
    }
  }

  .shortcuts {
    @media (max-width: $media-md) {
      display: none;
    }
  }
}
